/****************** app css ***********************/
::-webkit-scrollbar {
    width: 7px;
}
 
/* Track */
::-webkit-scrollbar-track {
    box-shadow: inset 0 0 3px rgba(0,0,0,0.3); 
    border-radius: 5px;
}
 
/* Handle */
::-webkit-scrollbar-thumb {
    border-radius: 5px;
    background: rgba(255,0,0,0.8); 
    box-shadow: inset 0 0 6px rgba(0,0,0,0.5); 
}
::-webkit-scrollbar-thumb:window-inactive {
    background: rgba(255,0,0,0.4); 
}

.app-main {
    min-height: 100%;
    min-width: 100%;
}

.dark-link {
    color: #BDBDBD !important;
}

.bdtv-trigger a {
    border: 1px solid #f70;
    border-radius: 5px;
}

.blocker {
    z-index: 9999;
    background-color: rgba(0, 0, 0, 0.3);
}

#modal {
    border-radius: 0;
    width: 800px;
    padding: 0;
}

.tab-content {
    height: 400px;
    background-color: #212121;
    color: #BDBDBD;
}

.is-info {
    width: 100%;
    height: 100%;
}

.is-info-left {
    height: 100%;
    width: 28%;
    border-right: solid 1px rgb(22, 22, 22); 
}
.donation-img {
    margin: 15px 0;
}

.is-info-right {
    width: 70%;
    height: 100%;
}
.is-info-right-top {
    width: 80%;
}
.is-info-right-top h2 {
    border-bottom: solid 1px #616161; 
    margin-bottom: 10px;
}
.is-info-right-bottom {
    width: 100%;
}
.is-option {
    width: 100%;
    height: 100%;
}
.is-option-left, .is-option-right {
    width: 50%;
    height: 100%;
}
.is-option-left {
    border-right: solid 1px rgb(22, 22, 22); 
}
.option-list {
    width: 100%;
    border-top: solid 1px rgb(22, 22, 22); 
    font-size: 120%;
}
.account-label {
    margin-top: -20px;
}
.bind-btn {
    margin-top: -15px;
    min-width: 40px;
}
.unbind-btn {
    min-width: 40px;
}
.is-roll {
    width: 100%;
    height: 100%;
}
.roll-control {
    width: 100%;
    height: 20px;
    border-bottom: red 1px solid;
}
.roll-result {
    width: 100%;
    min-height: 85%;
    max-height: 85%;
    overflow-y: scroll; 
}
.roll-btn {
    margin-top: -20px;
}
.roll-candi {
    line-height: 24px;
    text-align: center; 
    cursor: pointer;
}
.roll-candi-lucky {
    color: red;
    background-color: yellow;
    border: red 1px solid;
}
.roll-candi:hover {
    border-bottom: red solid 1px;
}
/************** angular material css hack *****************/
md-input-container .md-input {
    color: #BDBDBD !important;
    border-color: red !important;
}
md-input-container label {
    color: #BDBDBD !important;
}
md-pagination-wrapper {
    min-width: 400px;
    width: 400px;
}

md-tabs-canvas {
    background-color: rgb(22, 22, 22);
    border-bottom: 1px solid red;
}

md-tabs .md-tab.md-active {
    color: red !important;
    font-weight: bold;
}

md-tabs .md-tab {
    color: #BDBDBD !important;
}
.md-ink-ripple {
    color: #BDBDBD !important;
}
.md-switch.md-default-theme.md-checked ._md-bar, md-switch.md-checked ._md-bar{
    background-color: rgba(83, 220, 112, 0.37) !important;
}
.md-switch.md-default-theme.md-checked ._md-thumb, md-switch.md-checked ._md-thumb {
    background-color: rgb(30, 175, 121) !important;
}

/****************** layout css ***********************/
.is-fix-top-margin {
    margin-top: 75px !important;
}
.is-fix-main_col-top-margin {
    margin-top: 0px !important;
}
#header {
    border-bottom: 1px solid red !important;
}
#live_videobar {
    border: 0 solid red !important;
}
#js_chat_mem {
    border-left: 1px solid #212121 !important;
}
#room_container {
	min-height: 100vh !important;
}

/****************** dark css ***********************/
textarea {
    background-color: #757575 !important;
    color: white !important;
}
img {
    -webkit-filter: brightness(70%);
}
.banner {
	background: #212121 !important;
}

.is-dark-5 {
    color: #9E9E9E !important;
    background-color: #212121 !important;
}
.is-dark-4 {
    color: #9E9E9E !important;
    background-color: #424242 !important;
}
.is-dark-font-color {
    color: #9E9E9E !important;
}
.is-dark-font-color-lighter {
    color: #E0E0E0 !important;
}
.is-dark-noborder {
	border: 0 solid !important;
}
